html, body {
  background: #505050;
  height: 100%;
}

#testmap {
  height: 70%;
}

#controls {
  height: 30%;
  padding-top: 25px;
}

.slider-selection {
	background: #BABABA;
}

#timeSlider, #lengthSlider, #batterySlider {
  width: 100%;
}

.sliderControl {
  margin: 10px 0px 10px 0px;
}


h5 {
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.disabled-options {
  border-left: 1px solid #d2d2d2;
}

#datepicker {
  width: 160px;
}



.big-btn {
  width: 100%;
  height: 100px;
}
