html, body {
  background: #505050;
  height: 100%;
}

#testmap {
  height: 80%;
}

#controls {
  height: 20%;
  margin: 10px 10px 10px 10px;
}

.slider-selection {
	background: #BABABA;
}

#timeSlider, #lengthSlider, #batterySlider {
  width: 100%;
}

.sliderControl {
  margin: 10px 0px 10px 0px;
}

.middleSlider {
  padding: 10px 0px 10px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}



#datepicker {
  width: 160px;
}
